<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Anna Architect</a>
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/projects">Projects</a>
    <a class="nav-item nav-link" routerLink="/clients">Clients</a>
    <a class="nav-item nav-link" routerLink="/schedule-meeting">Schedule</a>
  </div>
  <a class="navbar-brand" href="#">Noel Aviles Developer</a>
</nav>
<div class="container mt-3">
  <router-outlet></router-outlet>
</div>

<app-meeting-list></app-meeting-list>